In [1]:
import zoo
zoo.hours()

Open 9-5 daily

In [2]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [9]:
import csv
import sqlite3
connection = sqlite3.connect("books.db")
cursor = connection.cursor()
create_table = '''CREATE TABLE books(title, author, year); '''
cursor.execute(create_table)
file = open('books2.csv')
contents = csv.reader(file)
insert_records = "INSERT INTO books(title, author, year) VALUES (?, ?, ?)"
cursor.executemany(insert_records, contents)
select_all = "SELECT * FROM books"
rows = cursor,execute(select_all), fetchall()
for r in rows:
    print(r)

OperationalError: table books already exists

I keep getting this operational error saying the table already existed after I messed up my first attempt. But it kept the table but I can't get it to print the table.